body, html {
    height: 100%;
  }
  
  .bg { 
   
    background-image: url("../images/muppets2.png");
  
    
    height: 100%; 
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar{
      background-color:rgba(255,255,255,.3);
      border-bottom: 5px solid rgba(241, 90, 34, 1);
      width: 100%;
      padding-bottom: 80px;
  }
  .jTitle{
     position: absolute;
     top:0;
     left:33%;
     padding-bottom:10px;
  }
  #Titletext{
    text-align: center;
    color: rgba(241, 90, 34, 1);
    text-shadow: 3px 3px 20px grey;
  }
  h1{
      text-align: center;
      color: white;
      padding-top:30px;
      opacity: 0.9;
  }
  .jTimer{
      text-align:center;
      color: rgba(19, 19, 18, 0.95);      
      opacity: 0.5;
      padding-top:20px;
      padding-bottom:40px;
  }
  .jbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 200px;
    margin-left:200px;
    padding-bottom: 600px;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 3px 3px 20px grey;

  }
  .questions{
    margin-top:100px;
  }
  .answers{
      padding-top:100px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  #start{
    background-color: rgba(241, 90, 34, 1);
    color: white;
    font-size: 40px;
    box-shadow: 3px 3px 20px grey;
    border-radius: 8px;
  }